# **1. Data 전처리**

In [1]:
# import necessary library

# For Data
import pandas as pd
import numpy as np

# For Visualization (for graph)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load 'vgames2.csv'

data_url = './vgames2.csv'
df = pd.read_csv(data_url, index_col=0)
df

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...           0
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
4                    Deal or No Deal: Special Edition  ...           0
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16594                         Ice Age 2: The Meltdown  ...        0.01
16595                     Rainbow Islands: Revolution  ...           0
16596                                        NBA 2K16  ...        0.13
16597                     Toukiden: The Age of Demons  ...        0.03
16598                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [3]:
# Check the 'null' data
df.isnull().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [4]:
# Check the data info
df.info()

# < To-do list >
# 1) delete rows including 'null'
# 2) change dtype
#  - 'Year': float64 -> datetime
#  - 'NA_Sales': object -> float
#  - 'EU_Sales': object -> float
#  - 'JP_Sales': object -> float
#  - 'Other_Sales': object -> float

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.3+ MB

In [5]:
# 1) delete rows including 'null'
df2 = df.copy()
df2 = df2.dropna(axis=0)
print('the number of deleted rows: {}'.format(df.shape[0] - df2.shape[0]))
print('the percentage of deleted rows out of total data: {}%'.format(round((df.shape[0] - df2.shape[0])/df.shape[0]*100, 2)))
df2
# result : 16598 rows -> 16241 rows (-357 rows)

the number of deleted rows: 357
the percentage of deleted rows out of total data: 2.15%

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...           0
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
4                    Deal or No Deal: Special Edition  ...           0
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16594                         Ice Age 2: The Meltdown  ...        0.01
16595                     Rainbow Islands: Revolution  ...           0
16596                                        NBA 2K16  ...        0.13
16597                     Toukiden: The Age of Demons  ...        0.03
16598                        The King of Fighters '95  ...        0.01

[16241 rows x 9 columns]

In [6]:
df2.describe()

               Year
count  16241.000000
mean    1994.178437
std      155.484265
min        0.000000
25%     2003.000000
50%     2007.000000
75%     2010.000000
max     2020.000000

In [7]:
# 2-1) change dtype : Year (float -> datetime)

print(df2[df2['Year'] < 1000][['Name', 'Year']].head(3))

# Release of Age of Empires III: Complete Collection = 9 -> 2009 (https://www.amazon.com/Age-Empires-III-Complete-Collection-Pc/dp/B002MUO6CE)
# Release of Tresures of the Deep = 97 -> 1997 (https://en.wikipedia.org/wiki/Treasures_of_the_Deep)
# Release of NASCAR Unleashed = 11 -> 2011 (https://en.wikipedia.org/wiki/NASCAR_Unleashed)

                                        Name  Year
75   Age of Empires III: Complete Collection   9.0
82                     Treasures of the Deep  97.0
214                         NASCAR Unleashed  11.0

In [8]:
print('the minimum value of 2 digits year :', df2[df2['Year'] > 50]['Year'].min())
print('the minimum value of 4 digits year :', df2[df2['Year'] > 1000]['Year'].min())
print('the maximum value of 4 digits year :', df2[df2['Year'] > 1000]['Year'].max())

# The Range of Year : 1980 - 2020

the minimum value of 2 digits year : 86.0
the minimum value of 4 digits year : 1980.0
the maximum value of 4 digits year : 2020.0

In [9]:
import datetime

def float_to_date(value):
    
    if value >= 80 and value <= 99:
        value += 1900
    elif value >= 0 and value <= 20:
        value += 2000

    return datetime.datetime.strptime(str(int(value)), '%Y').strftime('%Y')

df2['Year'] = df2['Year'].apply(float_to_date)

df2

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...           0
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
4                    Deal or No Deal: Special Edition  ...           0
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16594                         Ice Age 2: The Meltdown  ...        0.01
16595                     Rainbow Islands: Revolution  ...           0
16596                                        NBA 2K16  ...        0.13
16597                     Toukiden: The Age of Demons  ...        0.03
16598                        The King of Fighters '95  ...        0.01

[16241 rows x 9 columns]

In [10]:
# 2-2) change dtype : XX_Sales (object -> float)

df2['NA_Sales'].unique()
df2.head(20)

# XX_sales unit = in millions (https://www.kaggle.com/gregorut/videogamesales)

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...           0
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
4                    Deal or No Deal: Special Edition  ...           0
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
6                              Power Pro Kun Pocket 8  ...           0
7               JASF: Jane's Advanced Strike Fighters  ...           0
8                      Samurai Warriors: State of War  ...        0.01
9                                          Imabikisou  ...           0
10  The Penguins of Madagascar: Dr. Blowhole Retur...  ...        0.01
11                                        Ford Racing  ...        0.06
12         Harvest Moon: More Friends of Mineral Town  ...           0
13                                      Mount & Blade  ...           0
14               The Professor's Brain Trainer: Logic  ...           0
15                                         Zoids Dash  ...           0
16                                        Mini Ninjas  ...        0.06
17                                    Rise of Nations  ...        0.01
18               Hajime no Ippo: The Fighting! (2014)  ...           0
19                                      Grand Kingdom  ...           0
20                                   Tropico Reloaded  ...           0

[20 rows x 9 columns]

In [12]:
def obj_to_float(value):

    if value[-1] == 'M':
        return float(value[:-1])
    elif value[-1] == 'K':
        return float(value[:-1])/1000
    else:
        return float(value)

for col in df2.columns[-4:]:
    df2[col] = df2[col].apply(obj_to_float)

df2.head(20)

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...        0.00
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...        0.00
4                    Deal or No Deal: Special Edition  ...        0.00
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
6                              Power Pro Kun Pocket 8  ...        0.00
7               JASF: Jane's Advanced Strike Fighters  ...        0.00
8                      Samurai Warriors: State of War  ...        0.01
9                                          Imabikisou  ...        0.00
10  The Penguins of Madagascar: Dr. Blowhole Retur...  ...        0.01
11                                        Ford Racing  ...        0.06
12         Harvest Moon: More Friends of Mineral Town  ...        0.00
13                                      Mount & Blade  ...        0.00
14               The Professor's Brain Trainer: Logic  ...        0.00
15                                         Zoids Dash  ...        0.00
16                                        Mini Ninjas  ...        0.06
17                                    Rise of Nations  ...        0.01
18               Hajime no Ippo: The Fighting! (2014)  ...        0.00
19                                      Grand Kingdom  ...        0.00
20                                   Tropico Reloaded  ...        0.00

[20 rows x 9 columns]

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16241 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16241 non-null  object
 1   Platform     16241 non-null  object
 2   Year         16241 non-null  object
 3   Genre        16241 non-null  object
 4   Publisher    16241 non-null  object
 5   NA_Sales     16241 non-null  float64
 6   EU_Sales     16241 non-null  float64
 7   JP_Sales     16241 non-null  float64
 8   Other_Sales  16241 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.2+ MB


---

# **2. Data Analysis**

*   지역에 따라서 선호하는 게임 장르가 다를까
*   연도별 게임의 트렌드가 있을까
*   출고량이 높은 게임에 대한 분석 및 시각화 프로세스
*   +@ (Free topic)